/* 滚动条整体轨道 */
::-webkit-scrollbar(滚动条常规状态) / width/height/background-color
::-webkit-scrollbar:hover(鼠标悬停在滚动条上) / width/height/background-color

::-webkit-scrollbar:vertical(垂直滚动条常规状态) / width/height/background-color
::-webkit-scrollbar:horizontal(水平滚动条常规状态) / width/height/background-color

::-webkit-scrollbar:vertical:hover(鼠标悬停在垂直滚动条上) / background-color
::-webkit-scrollbar:horizontal:hover(鼠标悬停在水平滚动条上) / background-color

::-webkit-scrollbar:vertical:active(鼠标点击垂直滚动条)
::-webkit-scrollbar:horizontal:active(鼠标点击水平滚动条)

::-webkit-scrollbar:vertical:window-inactive(鼠标离开垂直滚动条所在父窗口的子窗口焦点)(单屏幕，点击到地址栏窗口)
::-webkit-scrollbar:horizontal:window-inactive(鼠标离开水平滚动条所在父窗口的子窗口焦点)(双屏幕，点击到另外的显示器窗口)

常用参数 : width/height/background-color

/* 滚动条方向按钮 */
::-webkit-scrollbar-button:vertical:start:decrement(垂直滚动条上方按钮)
::-webkit-scrollbar-button:vertical:end:increment(垂直滚动条下方按钮)

::-webkit-scrollbar-button:horizontal:start:decrement{width: 6px;background-color: transparent;}

::-webkit-scrollbar-button:horizontal:end:increment{width: 6px;background-color: transparent;}
::-webkit-scrollbar-button:vertical:start:decrement:hover{height: 6px;background-color: transparent;}
::-webkit-scrollbar-button:horizontal:start:decrement:hover{width: 6px;background-color: transparent;}
::-webkit-scrollbar-button:vertical:end:increment:hover{height: 6px;background-color: transparent;}
::-webkit-scrollbar-button:horizontal:end:increment:hover{width: 6px;background-color: transparent;}
::-webkit-scrollbar-button:vertical:start:decrement:active{height: 6px;background-color: transparent;}
::-webkit-scrollbar-button:horizontal:start:decrement:active{width: 6px;background-color: transparent;}
::-webkit-scrollbar-button:vertical:end:increment:active{height: 6px;background-color: transparent;}
::-webkit-scrollbar-button:horizontal:end:increment:active{width: 6px;background-color: transparent;}
::-webkit-scrollbar-button:vertical:start:decrement:window-inactive{height: 6px;background-color: transparent;}
::-webkit-scrollbar-button:horizontal:start:decrement:window-inactive{width: 6px;background-color: transparent;}
::-webkit-scrollbar-button:vertical:end:increment:window-inactive{height: 6px;background-color: transparent;}
::-webkit-scrollbar-button:horizontal:end:increment:window-inactive{width: 6px;background-color: transparent;}
















参考文章 : 
https://css-tricks.com/custom-scrollbars-in-webkit/
